@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: rgb(39, 216, 48);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Body */
body{
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

/* Section */
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Logo */
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

/* Navigation Bar */
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3;
}

.navbar a:hover, .navbar a.active{
    color: var(--main-color);
}

/* Home */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 37vw;
}

.home-content h3{
    font-size: 3.2rem;
    font-size: 700;   
    margin-bottom: 1rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    padding-top: 2rem;
    font-size: 1.6rem;
}

/* Social Media */
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover{
    box-shadow: none;
}

/* About Section */
.about{
    background: var(--second-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 10rem;
}

.about-img img{
    width: 35vw;
}

.heading{
    text-align: center;
    font-size: 4rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* Service Section */
.service h2{
    margin-bottom: 5rem;
}

.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .service-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
}

.service-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.service-box h3{
    font-size: 2.6rem;
    margin: 1rem 0;
}

.service-box p{
    font-size: 1.6rem;
}

.service-container .service-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

/* Skills Section */
.skills h2{
    margin-bottom: 5rem;
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    gap: 2rem;
}

.skills-box{
    background-color: var(--second-bg-color);
    border: 0.2rem solid var(--bg-color);
    border-radius: 2rem;
    padding: 3rem 2rem 4rem;
    transition: 0.5s ease;
}

.skills-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.skills-box h3{
    font-size: 2.6rem;
    margin: 1rem 0;
}

.skills-box p{
    font-size: 1.6rem;
}

.skills-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

/* Bar Container */
.bar-container {
    margin-top: 1.5rem;
}

.bar-container p {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.bar-container .progress {
    position: relative;
    width: 100%;
    height: 0.5rem;
    background-color: var(--m);
    border-radius: 0.5rem;
    overflow: hidden;
}

.bar-container .progress span {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    animation: loadBar 2s linear forwards;
}

/* Keyframes for Loading Progress */
@keyframes loadBar {
    to {
        width: var(--skill-width);
    }
}

/* Individual Skill Widths */
.bar-container .html {
    --skill-width: 90%;
}

.bar-container .css {
    --skill-width: 60%;
}

.bar-container .javascript {
    --skill-width: 80%;
}

.bar-container .typescript {
    --skill-width: 70%;
}

.bar-container .react {
    --skill-width: 50%;
}

.bar-container .node {
    --skill-width: 40%;
}

.bar-container .docker {
    --skill-width: 30%;
}

.bar-container .git {
    --skill-width: 70%;
}

.bar-container .github {
    --skill-width: 60%;
}

.bar-container .python {
    --skill-width: 50%;
}

.bar-container .blockchain {
    --skill-width: 70%;
}

.bar-container .solidity {
    --skill-width: 50%;
}

.bar-container .kubernetes {
    --skill-width: 40%;
}


/* Coding Section */
.coding {
    background: var(--second-bg-color);
}

.coding h2 {
    margin-bottom: 5rem;
}

.coding-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.coding-box {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 1.5rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.coding-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    transition: transform 0.3s ease;
}

.coding-box:hover img {
    transform: scale(1.1);
}

.coding-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 1.5rem;
}

.coding-box:hover .coding-layer {
    opacity: 1;
}

.coding-layer h4 {
    font-size: 1.6rem;
    color: #fff;
}

.coding-layer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.coding-layer a:hover {
    text-decoration: underline;
}


/* Project Section */
.project{
    background: var(--second-bg-color);
}

.project h2{
    margin-bottom: 4rem;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img{
    width: 100%;
    transition: 0.5s ease;
}

.project-box:hover img{
    transform: scale(1.1);
}

.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.project-box:hover .project-layer{
    transform: translateY(0);
}

.project-layer h4{
    font-size: 3rem;
}

.project-layer p{
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
}

.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;    
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.project-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}


/* Contact Section */
.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}


/* Footer Section */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}






/* Mobile Phones (Portrait & Landscape) */
@media (max-width: 480px) {
    html {
        font-size: 50%; /* Further reduce the base font size */
    }

    .home-content h1 {
        font-size: 4rem; /* Adjust heading size for mobile */
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .home-img img {
        width: 80%; /* Make images scale down appropriately */
    }

    .navbar a {
        font-size: 1.5rem; /* Smaller nav links for better spacing */
        margin-left: 2rem;
    }

    .about-img img,
    .skills-img img {
        width: 100%; /* Ensure full width for smaller screens */
    }

    .btn {
        padding: 0.7rem 1.8rem; /* Compact buttons for better usability */
    }

    .service-container,
    .skills-container,
    .project-container {
        grid-template-columns: 1fr; /* Stack items for single-column layout */
    }

    .contact form .input-box input {
        width: 100%; /* Full-width inputs for forms */
    }
}

/* Tablets (Portrait & Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    html {
        font-size: 55%; /* Slightly larger font for tablets */
    }

    .home-content h1 {
        font-size: 4.5rem;
    }

    .home-img img {
        width: 70%; /* Scale images proportionately */
    }

    .service-container,
    .skills-container,
    .project-container {
        grid-template-columns: 1fr 1fr; /* Two columns for wider tablet view */
    }
}

/* Small Laptops & Large Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 60%; /* Increase base font size for medium screens */
    }

    .about-img img,
    .skills-img img {
        width: 50%;
    }

    .navbar a {
        font-size: 1.6rem;
    }

    .service-container,
    .skills-container,
    .project-container {
        grid-template-columns: repeat(2, 1fr); /* Two-column layout */
    }
}

/* Large Laptops & Desktops */
@media (min-width: 992px) and (max-width: 1200px) {
    html {
        font-size: 62.5%; /* Maintain base font size */
    }

    .navbar a {
        font-size: 1.8rem; /* Make navigation more prominent */
    }

    .home-img img {
        width: 40%; /* Optimize image width for larger screens */
    }

    .project-container {
        grid-template-columns: repeat(3, 1fr); /* Maintain three-column layout */
    }
}

/* Extra Large Screens */
@media (min-width: 1920px) {
    .navbar a {
        font-size: 2rem; /* Slightly larger nav links for big screens */
    }

    .home-content h1 {
        font-size: 6rem; /* Larger headings */
    }

    .btn {
        padding: 1.2rem 3.5rem; /* Enhance button size */
    }
}



/* Mobile */
@media (max-width:480px){
    /* Styles */
}

/* Extral Small devices */
@media (min-width:481px) and (max-width:767px){
    /* Styles */
}

/* Small Tablet */
@media (min-width:768px) and (max-width:991px){
    /* Styles */
}

/* Large Tablet/Laptop */
@media (min-width:992px) and (max-width:1200px){
    /* Styles */
}

/* Desktop  */
@media (min-width:120px) and (max-width:1919px){
    /* Styles */
}

/* Extra Large */
@media (min-width:1920px){ 
    /* Styles */
}